* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #004466;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 72px;
}

p {
    margin: 20px;
    font-size: 25px;
}

.btn {
    background-color: #e9970b;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
}

.container-404 {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 1;
    color: #434343;
}